mixin itemBlock(item={})
  .itemBlock
    .max-w-7xl.mx-auto(class='sm:px-6 lg:px-8')
        .bg-white.shadow.overflow-hidden(class='sm:rounded-md')
            ul.divide-y.divide-gray-200
                li
                    a.block(href=`/subject/${item.subject}/${item.id}` class='hover:bg-gray-50')
                        .flex.items-center.px-4.py-4(class='sm:px-6')
                            .min-w-0.flex-1.flex.items-center
                                .flex-shrink-0
                                    img.h-12.w-12.rounded-full(src='/svg/book.svg' alt='')
                                .min-w-0.flex-1.px-4(class='md:grid md:grid-cols-2 md:gap-4')
                                    div
                                        p.text-sm.font-medium.text-indigo-600.truncate=item.subject
                                        p.mt-2.flex.items-center.text-sm.text-gray-500
                                            span.truncate=` Department:${item.department} |`
                                            span.truncate=` | Field:${item.field}`
                                        p.mt-2.flex.items-center.text-sm.text-gray-500
                                            span.truncate=` Year:${item.year} |`
                                            span.truncate=` | Semester:${item.semester}`
                                        p.mt-2.flex.items-center.text-sm.text-gray-500
                                            span.truncate= item.body
                                    .hidden(class='md:block')
                                        div
                                            p.text-sm.text-gray-900
                                                | Applied on
                                                // space
                                                time(datetime='2020-01-07') January 7, 2020
                                            p.mt-2.flex.items-center.text-sm.text-gray-500
                                                svg.flex-shrink-0.h-5.w-5.text-green-400(class='mr-1.5' x-description='Heroicon name: solid/check-circle' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                                                    path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                                                |                         Completed phone screening
                            div
                                svg.h-5.w-5.text-gray-400(x-description='Heroicon name: solid/chevron-right' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                                    path(fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd')
